{% extends 'index_login.html' %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}


{% block page_title %}
Login
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}

{% block page_login %}

<div class="container">
    <div class="row">
<div class="login-box center col-md-6 offset-md-3 p-5 my-5">
  <h1 class="login-logo text-center">
    <a href="/"><b>{% trans 'Grand' %}</b></a>{% trans 'Core admin' %}
  </h1>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">{% bootstrap_messages %}</p>

    <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
<!--      <div class="form-group has-feedback">-->
<!--        <input type="email" class="form-control" placeholder="Email">-->
<!--        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>-->
<!--      </div>-->
<!--      <div class="form-group has-feedback">-->
<!--        <input type="password" class="form-control" placeholder="Password">-->
<!--        <span class="glyphicon glyphicon-lock form-control-feedback"></span>-->
<!--      </div>-->
      <div class="row">
<!--        <div class="col-xs-8">-->
<!--          <div class="checkbox icheck">-->
<!--            <label>-->
<!--              <input type="checkbox"> Remember Me-->
<!--            </label>-->
<!--          </div>-->
<!--        </div>-->
        <!-- /.col -->
        <div class="col-xs-4 position-absolute" style="right: 50px;">
          <button type="submit" class="btn btn-primary btn-block btn-flat p-absolute right-0">{% trans 'Sign In' %}</button>
        </div>
        <!-- /.col -->
      </div>
        {% endbuttons %}
    </form>

<!--    <div class="social-auth-links text-center">-->
<!--      <p>- OR -</p>-->
<!--      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using-->
<!--        Facebook</a>-->
<!--      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign in using-->
<!--        Google+</a>-->
<!--    </div>-->
    <!-- /.social-auth-links -->

<!--    <a href="{#% url 'accounts:restore_password' %#}">I forgot my password</a><br>-->
    <a href="{% url 'accounts:sign_up' %}" class="text-center">{% trans 'Register a new membership' %}</a>

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
</div>
</div>

{% endblock %}
