{% extends 'master.html' %}

{% load static %}
{% load bootstrap4 %}
{% load i18n %}

{% block page_title %}
{{ user.email }}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static '/accounts/css/style_accounts.css' %}">
{% endblock %}

{% block page_content %}

<!--    <section class="content-header">-->
<!--        <h1>-->
<!--            User Profile-->
<!--        </h1>-->
<!--        <ol class="breadcrumb">-->
<!--            <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>-->
<!--&lt;!&ndash;            <li><a href="billhistory/">Bills</a></li>&ndash;&gt;-->
<!--            <li class="active">Profile</li>-->
<!--        </ol>-->
<!--    </section>-->

<section class="container-fluid">

    <div class="row">
        <div class="col-md-3">
            <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img w-35 mx-auto img-responsive img-circle"
                            src="/media/{% firstof user.avatar_thumbnail '/static/img/user-placeholder.svg' %}" alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ user.first_name|default:{% custom_tag _('John') %} }} {{ user.last_name|default:{% custom_tag _('Dou') %} }}</h3>

                <p class="text-muted text-center">{{ user.occupation|default:'' }}</p>

                <ul class="list-group mt-4 list-group-unbordered mb-3">
                  <li class="list-group-item">
                    <b>{% trans 'transFollowers' %}</b> <a class="float-right">1,322</a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans 'Following' %}</b> <a class="float-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans 'Friends' %}</b> <a class="float-right">13,287</a>
                  </li>
                </ul>

                <a href="#" class="btn btn-primary btn-block"><b>{% trans 'Follow' %}</b></a>
              </div>
            </div>
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title mb-0">{% trans 'About Me' %}</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <strong><i class="fa fa-file-text-o margin-r-5"></i>{% trans 'Обо мне' %}</strong>

                <p class="text-muted">{{ user.about }}</p>
                  <hr>

                <strong><i class="fa fa-map-marker margin-r-5"></i>{% trans 'Location' %}</strong>

                <p class="text-muted">{% trans 'Malibu, California' %}</p>

                <hr>
                  <strong><i class="fa fa-pencil margin-r-5"></i>{% trans 'Ранг' %}</strong>

                    <p>
                        {% for rang in user.rang.all %}
                        <span class="label label-danger">{{ rang.name }}</span>
                        {% endfor %}
                    </p>
                <hr>
                <strong><i class="fa fa-pencil margin-r-5"></i>{% trans 'Скилы' %}</strong>

                <p class="text-muted">
                    {% for skill in user.skills.all %}
                    <span class="badge badge-danger">{{ skill|default:'' }}</span>
                    <!--                  <span class="label label-success"></span>-->
                    <!--                  <span class="label label-info"></span>-->
                    <!--                  <span class="label label-warning"></span>-->
                    <!--                  <span class="label label-primary"></span>-->
                    {% endfor %}
                </p>

                <hr>



                <strong><i class="fa fa-file-text-o margin-r-5"></i>{% trans 'Контакты' %}</strong>

                <p class="text-muted contacts-center">{{ user.phone|default:'' }} {{ user.email|default:'' }} {{ user.telegram|default:'' }}</p>
              </div>
              <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active bg-success" href="#settings" data-toggle="tab">{% trans Settings %}</a></li>
                </ul>
              </div><!-- /.card-header -->
                  <div class="tab-pane active" id="settings">
                    <form class="form-vertical px-4 mt-4" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                          {% csrf_token %}
                          {% bootstrap_form form %}
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-12">
                          {% buttons %}
                            <button type="submit" class="btn btn-success">{% trans 'Сохранить' %}</button>
                          {% endbuttons %}
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
        </div>
    <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

</div>
</div>
</div>
</div>
{% endblock %}
