{% extends 'master.html' %}

{% load static %}
{% load i18n %}
{% block page_title %}
{{ instance }}
{% endblock %}

{% block page_styles %}
<link rel="stylesheet" href="{% static 'accounts/style.css' %}">
{% endblock %}



{% block page_content %}
<div class="content-wrapper" style="min-height: 986px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {% trans 'User Profile' %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>{% trans 'Home' %}</a></li>
<!--            <li><a href="billhistory/">Bills</a></li>-->
            <li class="active">{% trans 'Profile' %}</li>
        </ol>
    </section>

<section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="/media/{% firstof user.avatar_thumbnail 'userhold.png' %}" alt="User profile picture">

              <h3 class="profile-username text-center">{{ user.first_name|default:{% custom_tag _('John') %} }} {{ user.last_name|default:{% custom_tag _('Dou') %} }}</h3>

              <p class="text-muted text-center">{{ user.email }}</p>

<!--              <ul class="list-group list-group-unbordered">-->
<!--                <li class="list-group-item">-->
<!--                  <b>Followers</b> <a class="pull-right">1,322</a>-->
<!--                </li>-->
<!--                <li class="list-group-item">-->
<!--                  <b>Following</b> <a class="pull-right">543</a>-->
<!--                </li>-->
<!--                <li class="list-group-item">-->
<!--                  <b>Friends</b> <a class="pull-right">13,287</a>-->
<!--                </li>-->
<!--              </ul>-->

<!--              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{% trans 'About Me' %}</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i>{% trans 'Education' %}</strong>

              <p class="text-muted">
                {% trans 'B.S. in Computer Science from the University of Tennessee at Knoxville' %}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i>{% trans 'Location' %}</strong>

              <p class="text-muted">{% trans 'Malibu, California' %}</p>

<!--              <hr>-->

<!--              <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>-->

<!--              <p>-->
<!--                <span class="label label-danger">UI Design</span>-->
<!--                <span class="label label-success">Coding</span>-->
<!--                <span class="label label-info">Javascript</span>-->
<!--                <span class="label label-warning">PHP</span>-->
<!--                <span class="label label-primary">Node.js</span>-->
<!--              </p>-->

<!--              <hr>-->

<!--              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>-->

<!--              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
<!--              <li ><a href="#activity" data-toggle="tab">Activity</a></li>-->
              <li class="active"><a href="#timeline" data-toggle="tab">{% trans 'Заказы' %}</a></li>
              <li><a href="#settings" data-toggle="tab">{% trans 'Профиль' %}</a></li>
            </ul>
            <div class="tab-content">
<!--              <div  id="activity">-->
<!--                &lt;!&ndash; Post &ndash;&gt;-->
<!--                <div class="post">-->
<!--                  <div class="user-block">-->
<!--                    <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">-->
<!--                        <span class="username">-->
<!--                          <a href="#">Jonathan Burke Jr.</a>-->
<!--                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
<!--                        </span>-->
<!--                    <span class="description">Shared publicly - 7:30 PM today</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; /.user-block &ndash;&gt;-->
<!--                  <p>-->
<!--                    Lorem ipsum represents a long-held tradition for designers,-->
<!--                    typographers and the like. Some people hate it and argue for-->
<!--                    its demise, but others ignore the hate as they create awesome-->
<!--                    tools to help create filler text for everyone from bacon lovers-->
<!--                    to Charlie Sheen fans.-->
<!--                  </p>-->
<!--                  <ul class="list-inline">-->
<!--                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>-->
<!--                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>-->
<!--                    </li>-->
<!--                    <li class="pull-right">-->
<!--                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments-->
<!--                        (5)</a></li>-->
<!--                  </ul>-->

<!--                  <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
<!--                </div>-->
                <!-- /.post -->

                <!-- Post -->
<!--                <div class="post clearfix">-->
<!--                  <div class="user-block">-->
<!--                    <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">-->
<!--                        <span class="username">-->
<!--                          <a href="#">Sarah Ross</a>-->
<!--                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
<!--                        </span>-->
<!--                    <span class="description">Sent you a message - 3 days ago</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; /.user-block &ndash;&gt;-->
<!--                  <p>-->
<!--                    Lorem ipsum represents a long-held tradition for designers,-->
<!--                    typographers and the like. Some people hate it and argue for-->
<!--                    its demise, but others ignore the hate as they create awesome-->
<!--                    tools to help create filler text for everyone from bacon lovers-->
<!--                    to Charlie Sheen fans.-->
<!--                  </p>-->

<!--                  <form class="form-horizontal">-->
<!--                    <div class="form-group margin-bottom-none">-->
<!--                      <div class="col-sm-9">-->
<!--                        <input class="form-control input-sm" placeholder="Response">-->
<!--                      </div>-->
<!--                      <div class="col-sm-3">-->
<!--                        <button type="submit" class="btn btn-danger pull-right btn-block btn-sm">Send</button>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
                <!-- /.post -->

                <!-- Post -->
<!--                <div class="post">-->
<!--                  <div class="user-block">-->
<!--                    <img class="img-circle img-bordered-sm" src="../../dist/img/user6-128x128.jpg" alt="User Image">-->
<!--                        <span class="username">-->
<!--                          <a href="#">Adam Jones</a>-->
<!--                          <a href="#" class="pull-right btn-box-tool"><i class="fa fa-times"></i></a>-->
<!--                        </span>-->
<!--                    <span class="description">Posted 5 photos - 5 days ago</span>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; /.user-block &ndash;&gt;-->
<!--                  <div class="row margin-bottom">-->
<!--                    <div class="col-sm-6">-->
<!--                      <img class="img-responsive" src="../../dist/img/photo1.png" alt="Photo">-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                    <div class="col-sm-6">-->
<!--                      <div class="row">-->
<!--                        <div class="col-sm-6">-->
<!--                          <img class="img-responsive" src="../../dist/img/photo2.png" alt="Photo">-->
<!--                          <br>-->
<!--                          <img class="img-responsive" src="../../dist/img/photo3.jpg" alt="Photo">-->
<!--                        </div>-->
<!--                        &lt;!&ndash; /.col &ndash;&gt;-->
<!--                        <div class="col-sm-6">-->
<!--                          <img class="img-responsive" src="../../dist/img/photo4.jpg" alt="Photo">-->
<!--                          <br>-->
<!--                          <img class="img-responsive" src="../../dist/img/photo1.png" alt="Photo">-->
<!--                        </div>-->
<!--                        &lt;!&ndash; /.col &ndash;&gt;-->
<!--                      </div>-->
<!--                      &lt;!&ndash; /.row &ndash;&gt;-->
<!--                    </div>-->
<!--                    &lt;!&ndash; /.col &ndash;&gt;-->
<!--                  </div>-->
<!--                  &lt;!&ndash; /.row &ndash;&gt;-->

<!--                  <ul class="list-inline">-->
<!--                    <li><a href="#" class="link-black text-sm"><i class="fa fa-share margin-r-5"></i> Share</a></li>-->
<!--                    <li><a href="#" class="link-black text-sm"><i class="fa fa-thumbs-o-up margin-r-5"></i> Like</a>-->
<!--                    </li>-->
<!--                    <li class="pull-right">-->
<!--                      <a href="#" class="link-black text-sm"><i class="fa fa-comments-o margin-r-5"></i> Comments-->
<!--                        (5)</a></li>-->
<!--                  </ul>-->

<!--                  <input class="form-control input-sm" type="text" placeholder="Type a comment">-->
<!--                </div>-->
<!--                &lt;!&ndash; /.post &ndash;&gt;-->
<!--              </div>-->
              <!-- /.tab-pane -->
              <div class="tab-pane active" id="timeline">
                <!-- The timeline -->
                <ul class="timeline timeline-inverse">
                  <!-- timeline time label -->
                </ul>
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">{% trans 'Мои заказы' %}</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm hidden-xs" style="width: 150px;">
                  <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
              <table class="table table-hover">
                <tbody>
                <tr>
                  <th>ID</th>
                  <th>{% trans 'Товар' %}</th>
                  <th>{% trans 'Статус' %}</th>
                  <th>{% trans 'Дата' %}</th>
                </tr>
                {% for item in user_orders %}
                    {% include 'accounts/components/order.html' with order=item  %}
                {% endfor %}

              </tbody></table>
            </div>
            <!-- /.box-body -->
          </div>
              </div>
<!--                  <li class="time-label">-->
<!--                        <span class="bg-red">-->
<!--                          10 Feb. 2014-->
<!--                        </span>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; /.timeline-label &ndash;&gt;-->
<!--                  &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                  <li>-->
<!--                    <i class="fa fa-envelope bg-blue"></i>-->

<!--                    <div class="timeline-item">-->
<!--                      <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>-->

<!--                      <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>-->

<!--                      <div class="timeline-body">-->
<!--                        Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles,-->
<!--                        weebly ning heekya handango imeem plugg dopplr jibjab, movity-->
<!--                        jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle-->
<!--                        quora plaxo ideeli hulu weebly balihoo...-->
<!--                      </div>-->
<!--                      <div class="timeline-footer">-->
<!--                        <a class="btn btn-primary btn-xs">Read more</a>-->
<!--                        <a class="btn btn-danger btn-xs">Delete</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                  &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                  <li>-->
<!--                    <i class="fa fa-user bg-aqua"></i>-->

<!--                    <div class="timeline-item">-->
<!--                      <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>-->

<!--                      <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request-->
<!--                      </h3>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                  &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                  <li>-->
<!--                    <i class="fa fa-comments bg-yellow"></i>-->

<!--                    <div class="timeline-item">-->
<!--                      <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>-->

<!--                      <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>-->

<!--                      <div class="timeline-body">-->
<!--                        Take me to your leader!-->
<!--                        Switzerland is small and neutral!-->
<!--                        We are more like Germany, ambitious and misunderstood!-->
<!--                      </div>-->
<!--                      <div class="timeline-footer">-->
<!--                        <a class="btn btn-warning btn-flat btn-xs">View comment</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                  &lt;!&ndash; timeline time label &ndash;&gt;-->
<!--                  <li class="time-label">-->
<!--                        <span class="bg-green">-->
<!--                          3 Jan. 2014-->
<!--                        </span>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; /.timeline-label &ndash;&gt;-->
<!--                  &lt;!&ndash; timeline item &ndash;&gt;-->
<!--                  <li>-->
<!--                    <i class="fa fa-camera bg-purple"></i>-->

<!--                    <div class="timeline-item">-->
<!--                      <span class="time"><i class="fa fa-clock-o"></i> 2 days ago</span>-->

<!--                      <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>-->

<!--                      <div class="timeline-body">-->
<!--                        <img src="http://placehold.it/150x100" alt="..." class="margin">-->
<!--                        <img src="http://placehold.it/150x100" alt="..." class="margin">-->
<!--                        <img src="http://placehold.it/150x100" alt="..." class="margin">-->
<!--                        <img src="http://placehold.it/150x100" alt="..." class="margin">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
<!--                  &lt;!&ndash; END timeline item &ndash;&gt;-->
<!--                  <li>-->
<!--                    <i class="fa fa-clock-o bg-gray"></i>-->
<!--                  </li>-->
<!--                </ul>-->
<!--              </div>-->
<!--&lt;!&ndash;               /.tab-pane &ndash;&gt;-->

              <div class="tab-pane" id="settings">
                  <form method="POST" enctype="multipart/form-data">
    <div class="form-horizontal">
    {% csrf_token %}

    {% for err in form.not_field_errors %}
        <div class="alert alert-danger" role="alert">
            <span>{{ err }}</span>
        </div>
    {% endfor %}

    {% for field in form %}
    <div class="form-group form">
        <label class="col-sm-2 control-label" for="{{ field.name }}">
            {{ field.label }}
        </label>
        <div class="col-sm-10">
        {{ field }}
        </div>
        {% for err in field.errors %}
            <small class="">{{ err }}</small>
        {% endfor %}

    </div>
    {% endfor %}
       <div class="form-group">
                               <div class="col-sm-offset-2 col-sm-10">
					<button class="btn btn-danger" name="save" value="ok">{% trans 'Update' %}</button>
                               </div>
        </div>
    </div>
</form>

              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>

</div>
</div>
</div>
</div>
</div>
{% endblock %}
