{% load static %}

<footer class="footer">
    <a class="footer__logo" href="/home"></a>
    <nav class="footer-nav">
        <span class="footer-nav__item footer-nav__copy">2019-2020 MIT</span>
        <a class="footer-nav__item item" href="/about">О фонде</a>
        <a class="footer-nav__item item" href="/projects">Проекты</a>
        <a class="footer-nav__item item" href="/community">Участники</a>
        <a class="footer-nav__item item" href="/angels">Спонсоры</a>
        <a class="footer-nav__item item" href="/politics">Политика конфиденциальности</a>
    </nav>
    <div class="footer-socials">
        <a class="footer-socials__item" href="#">
            <img src="{% static '/img/social-icons/vk.svg' %}" alt="vk">
        </a>
        <a class="footer-socials__item" href="#">
            <img src="{% static '/img/social-icons/youtube.svg' %}" alt="youtube">
        </a>
        <a class="footer-socials__item" href="#">
            <img src="{% static '/img/social-icons/telegram.svg' %}" alt="telegram">
        </a>
        <a class="footer-socials__item" href="#">
            <img src="{% static '/img/social-icons/email.svg' %}" alt="email">
        </a>
    </div>
</footer>
