<div class="overlay overlay--hidden"></div>
<div class="header-mobile-nav header-mobile-nav--hidden">
    <div class="header-mobile-nav__close">
        <button class="header-mobile-nav__close-btn btn btn-small" id="close-mobile-nav"></button>
    </div>
    <nav class="header-mobile-nav__nav">
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Софт</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Игры</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Сервисы</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Изделия</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Тексты</b></a>
    </nav>
    <nav class="header-mobile-nav__nav">
        <a class="header-mobile-nav__nav-item item" href="/about">О фонде</a>
        <a class="header-mobile-nav__nav-item item" href="/about">Спонсоры</a>
        <a class="header-mobile-nav__nav-item item" href="/about">Участники</a>
    </nav>
    <nav class="header-mobile-nav__nav">
        <a href="{% url 'accounts:login' %}" class="header-mobile-nav__signup-btn btn btn--green">Войти</a>
    </nav>
</div>
<header class="header">
    <div class="header-left-burger" id="burger-btn">
        <label class="burger-toggle">
            <input type="checkbox">
            <div>
                <div>
                    <span></span>
                    <span></span>
                </div>
                <svg>
                    <use xlink:href="#path">
                </svg>
                <svg>
                    <use xlink:href="#path">
                </svg>
            </div>
        </label>
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44 44" id="path">
                <path d="M22,22 L2,22 C2,11 11,2 22,2 C33,2 42,11 42,22"></path>
            </symbol>
        </svg>
    </div>
    <div class="header-left">
        <a class="header-left__logo" href="/home"></a>
        <nav class="header-left__nav nav">
            <a class="header-left__nav-item item" href="/projects">Софт</a>
            <a class="header-left__nav-item item" href="/projects">Игры</a>
            <a class="header-left__nav-item item" href="/projects">Сервисы</a>
            <a class="header-left__nav-item item" href="/projects">Изделия</a>
            <a class="header-left__nav-item item" href="/projects">Тексты</a>
        </nav>
    </div>
    <div class="header-right">
        <nav class="header-right__nav">
            <a class="header-right__nav-item item" href="/about">О фонде</a>
            <a class="header-right__nav-item item" href="/about">Спонсоры</a>
            <a class="header-right__nav-item item" href="/about">Участники</a>
        </nav>
        <div class="header-right-btns">
            <div class="header-right-btns__search">
                <button class="header-right-btns__search-btn header-right-btns__search-btn--action btn btn-small" id="search-btn-action"></button>
                <input type="search" class="header-right-btns__search-field search-field" id="search-field" placeholder="Поиск">
                <button class="header-right-btns__close-btn btn btn-small" id="close-search-field"></button>
            </div>
            <button class="header-right-btns__more-btn btn btn--small" id="show-more"></button>
            <button class="header-right-btns__search-btn btn btn-small" id="search-btn"></button>
            <a href="{% url 'accounts:login' %}" class="header-right-btns__signup-btn btn btn--green">Войти</a>
        </div>
    </div>
</header>
