    <div class="overlay overlay--hidden"></div>
    <div class="header-mobile-nav header-mobile-nav--hidden">
      <div class="header-mobile-nav__close">
        <button class="header-mobile-nav__close-btn btn btn-small" id="close-mobile-nav"></button>
      </div>
      <nav class="header-mobile-nav__nav">
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Софт</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Игры</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Cервисы</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Изделия</b></a>
        <a class="header-mobile-nav__nav-item item" href="/projects"><b>Тексты</b></a>
      </nav>
      <nav class="header-mobile-nav__nav">
        <a class="header-mobile-nav__nav-item item" href="/about">О фонде</a>
        <a class="header-mobile-nav__nav-item item" href="/angels">Спонсоры</a>
        <a class="header-mobile-nav__nav-item item" href="/community">Участники</a>
      </nav>
      <nav class="header-mobile-nav__nav">
        <a href="{% url 'accounts:login' %}" class="header-mobile-nav__signup-btn btn btn--green">Войти</a>
      </nav>
    </div>
