{% load static %}
{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
    {% block page_title %}
    {% endblock %}
    </title>

    {% block page_styles %}
    {% endblock %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!-- Site wrapper -->
<div class="wrapper" style="background-color: #fff;">

        {% block page_login %}
        {% endblock %}

    </div>
    <!-- end Wrapper -->

{% block page_js %}
{% endblock %}


</body>
</html>